@model BilConnect.Models.ClubEvent

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* WhatsApp font style */
        margin: 0;
        padding: 0;
        background: rgb(240,224,209);
        background: linear-gradient(180deg, rgba(240,224,209,1) 0%, rgba(249,175,105,1) 100%);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
</style>

<div>
    <h4>Details Of Club Event</h4>
    <hr />
    <dl class="row">
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt> 
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ownerClub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ownerClub.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GE250_251Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GE250_251Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GE250_251Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GE250_251Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd> *@
        <div class="form-group text-center">
            <img id="ProfilePicturePreview" src="@Model.ImageURL" alt="Profile Picture"
                 style="width: 150px; height: 150px; object-fit: cover;" class="border-info rounded-circle" />
        </div>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
