@using BilConnect.Models.ReportModels;
@using BilConnect.Models.PostModels;
@model PostReport

@{
    ViewData["Title"] = "Report Details";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* WhatsApp font style */
        margin: 0;
        padding: 0;
        background: rgb(240,224,209);
        background: linear-gradient(180deg, rgba(240,224,209,1) 0%, rgba(249,175,105,1) 100%);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
</style>

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Details</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                
                <div class="row">
                    @if (Model.ReportedPost != null)
                    {
                        <div class="col text-center">
                            <h1>Report for @Model.ReportedPost.Title</h1>
                        </div>
                    }
                    else
                    {
                        <div class="col text-center">
                            <h1>Report for Deleted Report</h1>
                        </div>
                    }
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Reporter" class="control-label"></label>
                    <input asp-for="@Model.Reporter" class="form-control" readonly />
                    <span asp-validation-for="@Model.Reporter" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                @if(Model.ReportedPost != null)
                {
                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview" src="@Model.ReportedPost.ImageURL" alt="Profile Picture"
                             style="width: 150px; height: 150px; object-fit: cover;" class="border-info rounded-circle" />
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.ReportedPost.Description" class="control-label"></label>
                        <input asp-for="@Model.ReportedPost.Description" class="form-control" readonly />
                        <span asp-validation-for="@Model.ReportedPost.Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.ReportedPost.User.FullName" class="control-label"></label>
                        <input asp-for="@Model.ReportedPost.User.FullName" class="form-control" readonly />
                        <span asp-validation-for="@Model.ReportedPost.User.FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.ReportedPost.PostDate" class="control-label"></label>
                        <input asp-for="@Model.ReportedPost.PostDate" class="form-control" readonly />
                        <span asp-validation-for="@Model.ReportedPost.PostDate" class="text-danger"></span>
                    </div>


                    @if (Model.ReportedPost is SellingPost sellingPost)
                    {
                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" value="@sellingPost.Price" readonly />
                        </div>
                    }
                    else if (Model.ReportedPost is DonationPost donationPost)
                    {

                    }
                    else if (Model.ReportedPost is RentingPost rentingPost)
                    {
                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" value="@rentingPost.Price" readonly />
                        </div>

                        <div class="form-group">
                            <label>Return Date</label>
                            <input class="form-control" value="@rentingPost.ReturnDate" readonly />
                        </div>
                    }
                    else if (Model.ReportedPost is EventTicketPost eventTicketPost)
                    {
                        <div class="form-group">
                            <label>Event Place</label>
                            <input class="form-control" value="@eventTicketPost.EventPlace" readonly />
                        </div>

                        <div class="form-group">
                            <label>Event Time</label>
                            <input class="form-control" value="@eventTicketPost.EventTime" readonly />
                        </div>

                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" value="@eventTicketPost.Price" readonly />
                        </div>
                    }
                    else if (Model.ReportedPost is FoundItemPost foundItemPost)
                    {

                    }
                    else if (Model.ReportedPost is LostItemPost lostItemPost)
                    {
                        <div class="form-group">
                            <label>Place</label>
                            <input class="form-control" value="@lostItemPost.Place" readonly />
                        </div>
                    }
                    else if (Model.ReportedPost is PetAdoptionPost petAdoptionPost)
                    {
                        <div class="form-group">
                            <label>Event Time</label>
                            <input class="form-control" value="@petAdoptionPost.IsFullyVaccinated" readonly />
                        </div>

                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" value="@petAdoptionPost.AgeInMonths" readonly />
                        </div>
                    }
                    else if (Model.ReportedPost is TravellingPost travellingPost)
                    {
                        <div class="form-group">
                            <label>Origin</label>
                            <input class="form-control" value="@travellingPost.Origin" readonly />
                        </div>

                        <div class="form-group">
                            <label>Destinatione</label>
                            <input class="form-control" value="@travellingPost.Destination" readonly />
                        </div>

                        <div class="form-group">
                            <label>TravelTime</label>
                            <input class="form-control" value="@travellingPost.TravelTime" readonly />
                        </div>

                        <div class="form-group">
                            <label>Price</label>
                            <input class="form-control" value="@travellingPost.Price" readonly />
                        </div>

                        <div class="form-group">
                            <label>Quota</label>
                            <input class="form-control" value="@travellingPost.Quota" readonly />
                        </div>
                    }

                }

                @if(User.IsInRole("Admin"))
                {
                    <form>
                        <!-- Your form fields here... -->
                        <!-- Submit button for approving the report -->
                        <button type="submit" asp-controller="Posts" asp-action="Suspend" asp-route-id="@Model.ReportedPostId">Approve Report</button>

                        <!-- Submit button for rejecting the report -->
                        <button type="submit" asp-controller="PostReports" asp-action="Reject" asp-route-id="@Model.Id">Reject Report</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

