@using BilConnect.Models.ReportModels;
@model IEnumerable<PostReport>

@{
    ViewData["Title"] = "List of Posts";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* WhatsApp font style */
        margin: 0;
        padding: 0;
        background: rgb(240,224,209);
        background: linear-gradient(180deg, rgba(240,224,209,1) 0%, rgba(249,175,105,1) 100%);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    /* Added CSS for square images */
    .img-square {
        width: 150px; /* Set the width of the image */
        height: 150px; /* Set the height of the image */
        object-fit: cover; /* This will ensure the image covers the area nicely */
    }
</style>


@*Define View Data*@

@*Write Code*@

<div class="row">
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            @if (item.Status == BilConnect.Data.Enums.PostReportStatus.Waiting)
            {
                <a class="text-decoration-none">
                    <div class="post-card" data-title="@item.ReportedPost.Title" data-post-type="@item.GetType()">
                        <div class="post-card-header">
                            @item.ReportedPost.Title
                        </div>

                        <div class="post-card-body">
                            <div class="col-md-6">
                                <img src="@item.ReportedPost.ImageURL" class="img-square fixed-size-image" alt="@item.ReportedPost.Title">
                            </div>

                            <div class="col-md-6">
                                <div class="card-body">
                                    <p class="card-text truncate-text">Complaint: @item.Description</p>
                                    <p class="card-text">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="post-card-footer">
                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Show Details</a>
                        </div>
                    </div>
                </a>
            }
        }
    }
    else
    {
        
    }
</div>
