@model IEnumerable<ChatViewer>

@{
    ViewData["Title"] = "Chats";
}

<style>
    .chat-item-content {
        background-color: #fff;
    }

    .unread-dot {
        width: 10px; /* Adjust the size of the dot as needed */
        height: 10px;
        background-color: red; /* Choose the color you want for the unread dot */
        border-radius: 50%; /* Makes the element circular */
        display: inline-block; /* Ensures it doesn't break the line */
    }
</style>
<div class="row">
    @if (Model != null && Model.Any())
        @foreach (var chatItem in Model)
        {
            <div class="row g-0 chat-item">
                <div class="col-md-1">
                    <img src="@chatItem.RelatedPost.ImageURL" alt="Post Image" class="img-fluid rounded-circle chat-item-image">
                </div>
                <div class="col-md-11">
                    @if (chatItem.Unread)
                    {
                        <div class="chat-item-content">
                            <h4>@chatItem.RelatedPost.Title</h4>
                            <div class="unread-dot"></div>
                            <p><strong>with </strong> @chatItem.Receiver.FullName</p>
                            <a class="btn btn-success btn-lg" asp-action="Room" asp-controller="Chats" asp-route-id="@chatItem.Id" aria-label="GO TO CHAT: @chatItem.Id">
                                <i class="material-icons align-middle">visibility</i> GO TO CHAT
                            </a>

                        </div>
                    }
                    else
                    {
                        <div class="chat-item-content">
                            <h4>@chatItem.RelatedPost.Title</h4>
                            <p><strong>with </strong> @chatItem.Receiver.FullName</p>
                            <a class="btn btn-success btn-lg" asp-action="Room" asp-controller="Chats" asp-route-id="@chatItem.Id" aria-label="GO TO CHAT: @chatItem.Id">
                                <i class="material-icons align-middle">visibility</i> GO TO CHAT
                            </a>

                        </div>
                    }

                </div>
            </div>
        }
    else
    {
        <div class="row g-0">
            <div class="col-md-12">
                <p>
                    <strong>No chats available.</strong>
                </p>
            </div>
        </div>
    }
</div>


